<?xml version="1.0" encoding="UTF-8"?>
<service>
  <type>smashrun-scope</type>
  <name>Runkeeper</name>
  <icon>meetup</icon>
  <provider>smashrun</provider>

</service>
